@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.css";

body {
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background-color: #1a1f2e;
  border-radius: 10px;
  border: 2px solid #020617;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2c3e50;
}
